.top-container {
    background-color: blanchedalmond;
    height: 200px;
    width: 200px;
}

.middle-container {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
}

.bottom-container {
    background-color: brown;
    height: 200px;
    width: 200px;
}